/* Tipografías: Principalmente "Tw Cen MT" Regular y bold
/* A veces tambien "Tw Cen MT Condensed Extra Bold"

/* Color secundario: #FF3366 / RGB(255, 51, 102)
/* Gris de fondo: #CCCCCC / RGB(204, 204, 204)

/* Tamaños de Tipografías
/*      h1 = 72 pt
/*      h2 = 24 pt (Bold)
/*      p = 18 pt

/* El numero grande (64.16) que aparece en el segundo mock es:
/* Tw Cen MT Condensed Extra Bold, 150 pt
*/

.btnForm {
    width: 100%;
    height: 185px;

    /* border: 1px solid black; */
}

.btnForm input[type=button] {
    margin: 2%;
    max-width: 15.5%;
    max-height: 150px;
    width: 100vw;
    height: 100vw;
    border-radius: 15px;
    background-color: white;

    color : black;
    font-family: "Tw Cen MT";
    font-size : 24pt;
    font-weight: bold;
    display: inline;
    text-align: center;
}

.btnForm input[type=button]:focus {
    background-color: #ff3366;
    color: white;
}

.btnForm1 {
    width: 100%;
    height: 104px;

    /*border: 1px solid black;*/
}

.btnForm1 input[type=button] {
    margin: 2%;
    max-width: 45.5%;
    max-height: 75px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: white;

    color : black;
    font-family: "Tw Cen MT";
    font-size : 24pt;
    font-weight: bold;
    display: inline;
    text-align: center;
}

.btnForm1 input[type=button]:focus {
    background-color: #ff3366;
    color: white;
}

.margenes {
    float: left;
    width: 100%;
    padding: 7pt 0;

    /* border: 1px solid black;*/
}

.margenes input[type=number] {
    padding: 1%;
    border-radius: 15px;
    float: right;
    width: 75px;
    margin-right: 2%;

    color : black;
    font-family: "Tw Cen MT";
    font-size : 24pt;
    font-weight: bold;
    display: inline;
    text-align: center;
}


.final {
    margin-top: 24pt;
}

.final p {
    display: inline;
}

.final img {
    width: 20pt;
    height: 20pt;
    float: left;
    margin-right: 5pt;
}

.final input[type=button] {
    float: right;
    height: 75px;
    width: 300px;
    border-radius: 15px;
    background-color: white;
    border: 2pt solid #ff3366;
    margin-right: 2%;
    margin-top: -28.8pt;

    color : #ff3366;
    font-family: "Tw Cen MT";
    font-size : 24pt;
    font-weight: bold;
    display: inline;
    text-align: center;
}

.final input[type=button]:focus {
    background-color: #ff3366;
    color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: #CCCCCC;
}


.texto {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: justify;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
}

h1 {
    color : #ff3366;
    font-family: "Tw Cen MT";
    font-size : 72pt;
    font-weight: normal;
    display: inline;
}

h2 {
    font-family: "Tw Cen MT";
    font-size : 24pt;
    font-weight: bold;
    display: inline;
}

p {
    font-family: "Tw Cen MT";
    font-size : 18pt;
    font-weight: normal;
}

hr {
    width: 100%;
    background-color: #ff3366;
    height: 1pt;
}
