/* Tipografías: Principalmente "Tw Cen MT" Regular y bold
/* A veces tambien "Tw Cen MT Condensed Extra Bold"

/* Color secundario: #FF3366 / RGB(255, 51, 102)
/* Gris de fondo: #CCCCCC / RGB(204, 204, 204)

/* Tamaños de Tipografías
/*      h1 = 72 pt
/*      h2 = 24 pt (Bold)
/*      p = 18 pt

/* El numero grande (64.16) que aparece en el segundo mock es:
/* Tw Cen MT Condensed Extra Bold, 150 pt
*/


@font-face {
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: normal;
src: local('Tw Cen MT'), url('fonts/Tw Cen MT.woff') format('woff');
}

@font-face {
font-family: 'Tw Cen MT Condensed';
font-style: normal;
font-weight: normal;
src: local('Tw Cen MT Condensed'), url('fonts/TCCM____.woff') format('woff');
}


@font-face {
font-family: 'Tw Cen MT Condensed Extra Bold';
font-style: normal;
font-weight: normal;
src: local('Tw Cen MT Condensed Extra Bold'), url('fonts/TCCEB.woff') format('woff');
}


@font-face {
font-family: 'Tw Cen MT Bold';
font-style: normal;
font-weight: normal;
src: local('Tw Cen MT Bold'), url('fonts/TCB_____.woff') format('woff');
}

.form  {
    overflow: auto;
}

.btnForm {
    width: 100%;
    height: 7em;

    display: flex;
    /* border: 1px solid black; */
}

.btnForm label {
    float:left;
    margin: 2%;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    border:1px solid #D0D0D0;
    overflow: hidden;
    line-height: 4em;

}

.btnForm label span {
    color: black;
    font-family: "Tw Cen MT";
    font-size : 2em;
    font-weight: bold;
    display: block;
    text-align: center;
}

.btnForm label input {
    position:absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.btnForm label:hover {
    border: 2pt solid #ff3366;
    color: #ff3366;
}

.btnForm input:checked + span {
    background-color: #ff3366;
    color: white;
}

.VH {
    display: block;
    width: 100%;
}

.Custom {
    display: none;
    width: 100%;
}

.btnForm1 {
    width: 100%;
    height: 7em;
    /* border: 1px solid black; */

    display: flex;
}

.btnForm1 label {
    float:left;
    margin: 2%;
    /*max-width: 45.7%;*/
    width: 100%;
    border-radius: 15px;
    background-color: white;
    border:1px solid #D0D0D0;
    overflow: hidden;
}

.btnForm1 label span {
    padding: 0.5em 0;
    color: black;
    font-family: "Tw Cen MT";
    font-size : 2em;
    font-weight: bold;
    display: block;
    text-align: center;
}

.btnForm1 label input {
    position:absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.btnForm1 label:hover {
    border: 2pt solid #ff3366;
    color: #ff3366;
}

.btnForm1 input:checked + span {
    background-color: #ff3366;
    color: white;
}

.btnForm2 {
    width: 100%;
    height: 7em;
    display: flex;
    justify-content: space-between;

}

.btnForm2 input {
    padding: 0;
    border: 1px solid #D0D0D0;
    border-radius: 15px;
    margin: 2%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0.1px;


    font-family: "Tw Cen MT";
    font-size : 1.8em;
    font-weight: bold;
    text-align: center;
}

.btnForm2 button {
    min-width: 12%;
    border-radius: 15px;
    background-color: white;
    border: 2pt solid #ff3366;
    margin: 2%;
    overflow: hidden;
    flex-basis: auto;
}

.btnForm2 img {
    width: 3em;
    height: 3em;
}

.margenes {
    width: 100%;
    height: 7em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid black;*/
}

.margenes input[type=number] {
    border:1pt solid #D0D0D0;
    border-radius: 15px;
    float: right;
    width: 90px;
    margin: 2%;

    color : black;
    font-family: "Tw Cen MT";
    font-size : 2em;
    font-weight: bold;
    display: inline;
    text-align: center;
}

.margenes input[type=number]:hover {
    border: 2pt solid #ff3366;
}

.final {
    overflow: visible;
    height: 7em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.final p {
    display: inline;
}

.final img {
    width: 1.2em;
    height: 1.2em;
    float: left;
    margin-right: 5pt;
}

.info {
    margin: 2%;
    margin-right: 10%;
}

.final input[type=button] {
    padding: 0;
    border-radius: 15px;
    background-color: white;
    border: 2pt solid #ff3366;
    margin: 2%;
    flex-grow: 1;

    color : #ff3366;
    font-family: "Tw Cen MT";
    font-size : 2em;
    font-weight: bold;
    display: inline;
    text-align: center;
}

.final input[type=button]:hover {
    border: 4pt solid #ff3366;
}

.final input[type=button]:active {
    background-color: #ff3366;
    color: white;
}

.Pag2 {
    display: none;
}

.contenido {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.divVolver1 {
    display: flex;
    height: 7em;
    justify-content: space-between;
}

.divVolver1 input[name="Volver"] {
    border-radius: 15px;
    background-color: white;
    border: 2pt solid #ff3366;
    flex-grow: 1;
    padding: 0;
    margin: 2%;

    color : #ff3366;
    font-family: "Tw Cen MT";
    font-size : 2em;
    font-weight: bold;
    display: inline;
    text-align: center;
}

.divVolver1 input[name="Volver"]:hover {
    border: 4pt solid #ff3366;
}

.divVolver1 input[name="Volver"]:active {
    background-color: #ff3366;
    color: white;
}

.resultado {
    margin-bottom: 25%;
}

.botonesMasMenos {
    display: flex;
    height: 7em;
    justify-content: space-between;
}

.botonesMasMenos input[type=button] {
    border-radius: 15px;
    background-color: white;
    border: 1pt solid #D0D0D0;
    margin: 2%;
    flex-grow: 1;
    overflow: hidden;

    color : black;
    font-family: "Tw Cen MT";
    font-size : 2em;
    font-weight: bold;
    display: inline;
    text-align: center;
}

.botonesMasMenos input[type=button]:hover {
    border: 2pt solid #ff3366;
    color: #ff3366;
}

.botonesMasMenos input[type=button]:active {
    background-color: #ff3366;
    color: white;
}

.Pag2 h2{
    display: block;
    margin:0%;
    text-align: center;
}

.Pag2 h1 {
    display:block;
    margin:0%;
    text-align: center;
}

.Pag3 {
    display: none;
}

.Pag3 h1 {
    margin: 0%;
}

.Pag3 h2 {
    margin-bottom: 0%;
}

.Pag3 h3 {
    margin-bottom: 0%;
}

.Pag3 hr {
    width: 100%;
}

.hr2 {
    width: 100%;
    flex-grow: 0;
    border: 0.5pt solid black;
}

.Outputs {
    margin: 2%;
}

.Out {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    flex-wrap: wrap;
}

.OutMargenes {
    margin-top: 26.56px;
}

.OutMargenes div[class="Out"] {
    margin-left: 5%;
}

.botonesVolver {
    display: flex;
    width: 100%;
    height: 7em;
    justify-content: space-between;
}

.botonesVolver input[type=button] {
    border-radius: 15px;
    background-color: white;
    border: 2pt solid #ff3366;
    margin: 2%;
    flex-grow: 1;
    overflow: hidden;

    color : #ff3366;
    font-family: "Tw Cen MT";
    font-size : 2em;
    font-weight: bold;
    display: inline;
    text-align: center;
}

.botonesVolver input:hover {
    border: 4pt solid #ff3366;
}

.botonesVolver input:active {
    background-color: #ff3366;
    color: white;
}

.Creditos {
    margin-top: 2%;
}

.textbtn {
    border: none;
     background-color: inherit;
     font-family: "Tw Cen MT";
     font-size : 1.5em;
     font-weight: normal;
     cursor: pointer;
     display: inline-block;
}

.textbtn:hover {
    color: #ff3366;
    font-weight: bold;
}

.info1 {
    display: none;
}

.info2 {
    display: none;
}

.info3 {
    display: none;
}

.info3 h2 {
    display: block;
    text-align: center;
}

.info3 p {
    display: block;
    text-align: center;
}

.links {
    height: 7em;
    display: flex;
    justify-content: space-between;
}

.links a {
    padding: 0.5em 0;
    border-radius: 15px;
    background-color: white;
    border: 1pt solid #D0D0D0;
    margin: 2%;
    flex-grow: 1;
    overflow: hidden;

    color : black;
    font-family: "Tw Cen MT";
    font-size : 2em;
    font-weight: bold;
    display: inline;
    text-align: center;
    text-decoration: none;

}

.links a:hover {
    border: 2pt solid #ff3366;
    color: #ff3366;
}

.links a:active {
    background-color: #ff3366;
    color: white;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.logo img {
    height: 8em;
    width: 8em;
    margin: 2%;
}

.Pag1 {
    display: block;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color: white;
  overflow: hidden;
}


.texto {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: justify;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
    overflow: hidden;
}

h1 {
    color : #ff3366;
    font-family: "Tw Cen MT";
    font-size : 6em;
    font-weight: normal;
    display: inline;
    text-align: left;
}

h2 {
    font-family: "Tw Cen MT";
    font-size : 2em;
    font-weight: bold;
    display: inline;
}

h3 {
    font-family: "Tw Cen MT";
    font-size : 2em;
    font-weight: bold;
    display: inline;
    color: #ff3366;
}

p {
    font-family: "Tw Cen MT";
    font-size : 1.5em;
    font-weight: normal;
}

pre {
    border-radius: 15px;
    border: 1pt solid black;
    padding: 2em 0;
    font-family: "Tw Cen MT";
    font-size : 1.5em;
    font-weight: normal;
}

hr {
    width: auto;
    border: 1.5pt solid #ff3366;
}

.right {
  right: 0;
  background-color: #CCCCCC;
  border-left: 2pt solid rgb(153,153,153);

}

.mediapantalla {
    width: 100%;
    height: 100%;
}

.canvas {
    display:block;
    width: 0;
    height: 0;
    opacity: 0;
    border: 2pt solid rgb(153,153,153);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    background-color: white;
}

.margins {
    display: flex;
    width: 0;
    height: 0;
    opacity: 0;
    border: 2pt solid rgb(153,153,153);

    background-color: rgba(0,0,0,0);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.lineaEstructura {
    border: 1.5pt solid #ff3366;
    height: 0;
    width: 100%;
    box-sizing: content-box;
    opacity: 0;
}

.margins3 {
    display: flex;
    width: 0;
    height: 0;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    flex-direction: row;
    justify-content: space-between;

}

.lineaEstructuraV {
    border: 1.5pt solid #ff3366;
    box-sizing: content-box;

    width: 0;
    opacity: 0;

}

.margins2 {
    display: auto;
    width: 0;
    height: 0;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
}

.renglon {
    border: 1px solid black;
    width: auto;
    height: 0;
    margin-bottom: -2px;
    opacity: 0;
}

.separacion {
    width: auto;
    opacity: 0;
    height: 0;
    box-sizing: content-box;
}
